RewriteEngine on
# RewriteCond %{HTTPS} on
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [L,R=301]
ErrorDocument 404 /404.html
ExpiresActive On
ExpiresDefault "now plus 1 second"
# ExpiresDefault "access plus 1 week"