@font-face {
  font-family: swfont;
  src: url(assets/starjedi.ttf);
}
@font-face {
  font-family: swhollow;
  src: url(assets/starjhol.ttf);
}
html,
body {
  margin:0;
  padding:0;
  height:100%;
}
.navbar {
  top:0;
  background:#121212 right top;
  text-align:center;
  font-size:calc(12px + 2vmin);
}
.navbarlink:link {
  font-family: swhollow;
  text-decoration:none;
  color:white;
}
.navbarlink:visited {
  text-decoration:none;
  color:white;
}
.navbarlink:hover {
  text-decoration:none;
  color:gold;
}
.navbarlink:active {
  text-decoration:none;
  color:gold;
  font-family: swfont;
}

.logoimg {
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
  max-width:390px;
  height:100%;
}
.body {
  font-family:Arial, Helvetica, sans-serif;
  padding:10px;
  padding-bottom:60px;
  background-image:url("image/Background.png");
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
  max-width:1700px;
  margin:auto;
  color:white;
  text-align:center;
  font-size:calc(12px + 1vmin);
}
.bodylink:link {
  text-decoration:none;
  color:#4284FF;
}
.bodylink:visited {
  text-decoration:none;
  color:#4284FF;
}
.bodylink:hover {
  text-decoration:none;
  color:#f1f1f1;
}
.bodylink:active {
  text-decoration:underline;
  color:gold;
}
.footer {
  display:inline-block;
  position:relative;
  bottom:0;
  max-width:1700px;
  background:#121212;
  color:lightgray;
  text-align:center;
  font-size:calc(5px + 1vmin);
}
.footerlink:link {
  text-decoration:none;
  color:#4284FF;
}
.footerlink:visited {
  text-decoration:none;
  color:goldenrod;
}
.footerlink:hover {
  text-decoration:none;
  color:#f1f1f1;
}
.footerlink:active {
  text-decoration:underline;
  color:gray;
}