.navbar {
  background: #121212 url("gradient.png") right top;
}
.navbarlinks {
  color:white;
  text-align: center;
  font-size:2vw;
  text-decoration: none;

}
.body {
  background-image: url("image/stars.gif");
}
.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .centertext {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
  }